<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
    <form action="/update/<%=item.id %>?_method=PUT" method="POST">
    
        <input type="text" name='type' value="<%= item.type %>">
        <input type="text" name='setup' value="<%= item.setup %>">
        <input type="text" name='punchline' value="<%= item.punchline %>">
    <button type="submit">Update My Jokes</button>  
    </form>
</body>
</html>