<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
    <h1>    Favorite
        page</h1>  

    <% if( jokes.length ==0 ) { %>
    <p>There is No Favorite</p>
    <% } else{ %>
    <div class='fir'>
        <% jokes.forEach(item=>{ %>
            <div class='sec'>
                <h2> id: <%= item.id %></h2>
                <h2>type: <%= item.type %></h2>
                <h4> setup <%= item.setup %></h4>
                <h4> punchline:<%= item.punchline %></h4>
          
            <br>
            <a href="/view/<%= item.id %>"> <button type="submit">View Details</button> </a>
        </div>

      <%  }) %>
    </div>
    <% } %>
    
</body>
</html>