<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
    Home page
    <div>
        <% result.forEach(item=>{ %>
<div>
    <%= item.number %>
    <h2> <%= item.type %></h2>
    <h2> <%= item.setup %></h2>
    <h2> <%= item.punchline %></h2>
    <form action="/add" method="POST">
        <input type="hidden" name='number' value="<%= item.number %>">
        <input type="hidden" name='type' value="<%= item.type %>">
        <input type="hidden" name='setup' value="<%= item.setup %>">
        <input type="hidden" name='punchline' value="<%= item.punchline %>">
    <button type="submit">Add To My Jokes</button>

    </form>

    
</div>
      <%  })  %>
    </div>
</body>
</html>