<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
  <h1>Home page</h1>  
    <div class='fir'>
        <% result.forEach(item=>{ %>
<div class='sec'>
   number: <%= item.number %>
    <h2>type: <%= item.type %></h2>
    <h4>setup: <%= item.setup %></h4>
    <h4> punchline:<%= item.punchline %></h4>
    <form action="/add" method="POST">
        <input type="hidden" name='number' value="<%= item.number %>">
        <input type="hidden" name='type' value="<%= item.type %>">
        <input type="hidden" name='setup' value="<%= item.setup %>">
        <input type="hidden" name='punchline' value="<%= item.punchline %>">
    <button type="submit">Add To My Jokes</button>

    </form>
<br>
</div>
      <%  })  %>
    </div>
</body>
</html>