<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
    <h1>Random page</h1>  
    
    <div  class='fir'>
    
<div class='random'>
    <%= result.number %>
    <h2> type :<%= result.type %></h2>
    <h2> setup :<%= result.setup %></h2>
    <h2> punchline <%= result.punchline %></h2>

    
</div>

    </div>
</body>
</html>