<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout/head') %>
</head>
<body>
    Random page
    <div>
    
<div>
    <%= result.number %>
    <h2> <%= result.type %></h2>
    <h2> <%= result.setup %></h2>
    <h2> <%= result.punchline %></h2>

    
</div>

    </div>
</body>
</html>